@media screen and (max-width: 768px) {
    /* Styles for screens less than 768px wide */
    .menu a, .logo-btn{
        flex-direction: row;
        font-size: 1em;
    }

    #intro-content {
        align-items: center;
        font-size: 1.5rem;
    }
}

/*Scrollbar Styles*/
html {
    scrollbar-width: thin;
    scrollbar-color: var(--neon-blue) var(--navy);
}

:root {
    --neon-blue: #64ffda;
    --navy: #0E3548;
}

body {
    margin: 0;
    padding: 0;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

* {
    font-family: "Montserrat", sans-serif; /*Favorites Centaur, Century, Century Gothic, Reckless Neue*/
}

/*Header Section*/
header {
    padding: 0.1% 0;
    background-color: inherit;
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
}
/* Navigation Menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    transition: opacity 0.3s ease-in-out;
}

.logo-btn {
    padding: 10px 20px;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    color: white;
    text-decoration: none;
}

.scrolled {
    font-size: 14px;
    background-color: #15455d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrolled .menu a,
.scrolled .logo-btn {
    color: white;
}

/* Main Body */
/*Introduction Section*/
#intro {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 75vh;
    padding: 10%;
    font-size: 1.9rem;
    background-color: #0E3548;
}


#intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align text to the left */
    color: #fff;
}

.specialty {
    display: inline-block;
    font-weight: bold;
    color: #64ffda;
}

#intro-content p:first-child { /* Style the first paragraph (introduction) */
    font-size: 2.2rem; /* Larger font size for introduction */
    line-height: 1.2; /* Adjust line spacing for readability */
}

#intro-content p:last-child { /* Style the second paragraph (about you) */
    font-size: 1.6rem; /* Smaller font size for additional info */
}

/*#tech-logos {*/
/*    order: 3;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*    transition: color 0.3s;*/
/*    margin-top: 20px;*/
/*}*/

/*#tech-logos i {*/
/*    margin: 0 10px;*/
/*}*/

/*#tech-logos:hover {*/
/*    color: #61dafb;*/
/*}*/

#intro-picture {
    /* Adjust height for banner format */
    height: 100px; /* Adjust height as needed */
    overflow: hidden; /* Crop excess image content */
    opacity: 0.8;
}

#intro-picture img {
    /* Set image width to 100% to fill container */
    width: 100%;
    /* Adjust object-fit to control image display within container */
    object-fit: cover; /* Scales image to fill container while maintaining aspect ratio */
}

#scroll-down {
    position: absolute;
    bottom: 10%;
    right: 50%; /* Position horizontally at the center */
    transform: translateX(50%); /* Center the element horizontally */
    color: #fff; /* White color for the arrow */
    font-size: 100%; /* Adjust size of the arrow */
    animation: bounce 1.5s infinite ease-in-out; /* Animation for bouncing effect */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* My Story Section */
#my-story {
    background-color: #0E3548;
    color: #d0d8e4;
    padding: 10%;
}

#my-story h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #e0e9f4;
}

#my-story p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d0d8e4;
}

#my-story h3 {
    margin-top: 40px; /* Add more space before subheading for visual separation */
    margin-bottom: 15px; /* Add space after subheading */
    color: #e0e9f4; /* Light blue color for subheading, matching intro section */
}

#my-story ul {
    padding-left: 1.5rem; /* Indent bullet points */
    list-style-type: disc; /* Use disc bullets for visual clarity */
}

#my-story strong { /* Added to style bold keywords */
    font-weight: bold;
    color: #64ffda; /* White color for keywords to stand out */
}

/* Added styles for white separator line */
#my-story::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Adjust height for desired line thickness */
    background-color: #fff; /* White color for the line */
    margin-top: -5%; /* Position the line at the top of the section */
}

/* Education Section */
#education {
    background-color: #0E3548; /* Same background color as intro and story */
    color: #ccd6f6;
    padding: 10%;
}

#education h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #d0d8e4;
}

.university-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #15455d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.university-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem; /* Maintains heading size */
    color: #e5e5e5; /* White color for headings to contrast with dark background */  /* Changed text color */
}

.university-card p {
    margin: 0;
    color: #ddd;
}

.university-card:hover {
    transform: translateY(-3px); /* Adds a slight lift on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Emphasize hover effect */
}

/* Added styles for white separator line */
#education::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Adjust height for desired line thickness */
    background-color: #fff; /* White color for the line */
    margin-top: -5%; /* Position the line at the top of the section */
}

/* Work Experience Section */
#work-experience {
    background-color: #0E3548;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-experience h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #ccd6f6;
}

.experience-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.experience-card {
    background-color: #15455d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 5px; /* Rounded corners */
    margin: 1rem; /* Spacing between cards */
    padding: 1.5rem; /* Padding for content */
    width: 30%; /* Adjust width as needed */
    transition: transform 0.3s ease-in-out; /* Hover effect */
}

.experience-card a i {
    /* Icon styles */
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/static/Arrows-Up-Right-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.experience-card:hover, .experience-card a i{
    transform: translateY(-5px); /* Add slight hover transform */
}

.experience-card a {
    text-decoration: none; /* Remove underline from link */
    color: #333; /* Text color */
}

.experience-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #e5e5e5;
}

.experience-card .time {
    font-size: 0.9rem; /* Smaller time text */
    color: #64ffda;
}

.experience-card p {
    margin-bottom: 1rem;
    font-size: 0.9rem; /* Adjust paragraph size */
    line-height: 1.5; /* Line spacing for readability */
    color: #ddd;
}

.experience-card ul li {
    /* Existing styles... */
    display: inline-block; /* Allow inline display for pills */
    margin-right: 5px; /* Spacing between pills */
    padding: 5px 10px; /* Padding for content within pills */
    border-radius: 20px; /* Rounded corners for pill effect */
    background-color: #eee; /* Light gray background for pills */
    color: #333; /* Text color */
}

.experience-card .technologies {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-card .technologies li {
    display: inline-block;
    margin-right: 1rem;
}

#work-experience::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Adjust height for desired line thickness */
    background-color: #fff; /* White color for the line */
    margin-top: -5%; /* Position the line at the top of the section */
}

/* Projects Section */
#projects {
    background-color: #0E3548;
    padding: 10%;
}

#projects h2 {
    text-align: center;
    color: #ccd6f6;
    margin-bottom: 2rem; /* Add some space between title and cards */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    display: flex;
    flex-direction: row;
    background-color: #15455d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 20px;
}

.project-card img {
    /*max-width: 200px;*/
    height: auto;
    width: 20%; /* Adjust image width as needed */
    object-fit: cover; /* Crop image to fit while maintaining aspect ratio */
    margin: 0 20px; /* Adjust spacing between image and text */
    border-radius: 20px;
}

.project-card .project-info {
    flex: 1; /* Allocate remaining space to description section */
    color: #e5e5e5;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.project-card p {
    font-size: 0.9rem; /* Smaller paragraph size */
    line-height: 1.5; /* Line spacing for readability */
    margin-bottom: 15px;
}

/* Added styles for white separator line */
#projects::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: -5%;
}

/* Contact Me Section */
#contact-me {
    background-color: #0E3548; /* Match background color from previous sections */
    padding: 10%; /* Adjust padding for consistency */
    color: #e5e5e5; /* Match text color from previous sections */
    text-align: center; /* Center content horizontally */
}

#contact-me h2 {
    margin-bottom: 2rem;
    color: #ccd6f6;
}

#contact-me a{
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.linkedin-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #61dafb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.linkedin-link:hover {
    background-color: #47A8F5;
}

#contact-me::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: -5%;
}

/* Footer Section */
footer {
    background-color: #0E3548;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

